{% extends 'base_front.html.twig' %}
{% block title %}Historiques{% endblock %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Historiques</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item active">Mes soldes reçus</li>
                        </ol>
                    </div>
                </div>
                <div class="col-auto align-self-center">

                    {% include "partials/research.html.twig" %}
                </div>
            </div>
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <td class="text-white">Date</td>
                        <td class="text-white">Client</td>
                        <td class="text-white">Montant Reçu</td>
                        <td class="text-white">Observation</td>
                        <td class="text-white"></td>
                    </tr>
                </thead>
                <tbody>
                    {% for rechargement in rechargements %}
                    <tr>
                        <td>{{ rechargement.date | date ("d-m-Y") }}</td>
                        <td>{{ rechargement.bout.nom }}</td>
                        <td class="text-danger">{{ rechargement.monRecu }} <p class="fas fa-euro-sign"></p> </td>
                        <td>{{ rechargement.obesr }}</td>
                        <td>
                            <!-- <a href="#"
                                onclick="return confirm('Est-ce que vous voulez vraiment supprimer cet element');">
                                 <i class="fas fa-trash text-danger"></i>
                             </a> -->
                            <!-- <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Action
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mettre à jour </a>
                                    <a class="dropdown-item" href="#" onclick="return confirm('Est-ce que vous voulez vraiment supprimer cet element');">Suppression</a>
                                </div>
                            </div> -->
                        </td>
                    </tr>
                    {% else %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}