{% extends 'base_admin.html.twig' %}

{% block title %} listes des utilisateur{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Agents</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item active">Agents</li>
                        </ol>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <a href="{{ path("ajout_user") }}" class="btn btn-primary float-right mb-3">
                        <i class="fa fa-plus"></i>
                        Créer un agent
                    </a>
                    {% include "partials/research.html.twig" %}
                </div>
            </div>
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <td class="text-white">Numéro de compte</td>
                        <td class="text-white">Nom</td>
                        <td class="text-white">Prénom</td>
                        <td class="text-white">Téléphone</td>
                        <td class="text-white">Email</td>
                        <td class="text-white"></td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.numCom }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.tel }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('edit_role',{id:user.id}) }}">
                                <i title="Modifier" class="fas fa-edit text-info"></i>
                            </a>
                        </td>
                        {# <td>
                                <a href="{{ path('profil',{id:user.id}) }}">
                                    <i title="Modifier" class="fas fa-user-edit text-info"></i>
                                </a>
                        </td> #}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}