<!-- Left Sidenav -->
<div class="left-sidenav">
    <!-- logo -->
    <div class="brand mb-3 d-flex align-items-center">
        <a href="{{ url('home') }}" class="logo mx-1">
            <img src="{{ asset('assets/images/ipdemat.png') }}" width="250" height="650" alt="logo-small" class="mt-3 img-thumbnail">
        </a>
        {# <div class="ml-2">
            <span class="text-success">IPDemat</span>
            <span class="text-danger"> One</span>
        </div> #}
    </div>
    <!--end logo-->
    <!--items-->
    <div class="menu-content h-100" data-simplebar>
        <ul class="metismenu left-sidenav-menu md-9 font-siza=15px">
            {# {% if not is_granted("ROLE_ADMIN") %}#}
            {# <li class="d-flex justify-content-between mb-3">
                <a href="#" class="btn bg-white btn-round px-3">
                    <i class="fas fa-plus text-black"></i>
                    <span class="text-black">Nouveau Agent</span>
                </a>
            </li> #}
            {% if is_granted("ROLE_ADMIN") %}
            <li class="mb-4">
                <a href="{{path('dashboard')}}">
                    <i class="fas fa-chart-bar text-white ml-2"></i>
                    <span class="nav-text ml-1">Tableau de bord</span>
                </a>
            </li>
            <li class="mb-4">
                <a href="{{path('user')}}">
                    <i class="fas fa-user-circle text-white ml-2"></i>
                    <span class="nav-text ml-2"> Agent</span>
                </a>
            </li>
            <li class="mb-4">
                <a href="{{path('bout')}}">
                    <i class="fas fa-shopping-basket text-white ml-2"></i>
                    <span class="nav-text ml-2">Boutique</span>
                </a>
            </li>
            <li class="mb-4">
                <a href="{{path("mouvement")}}">
                    <i class="fas fa-walking text-white ml-2"></i>
                    <span class="nav-text ml-2">Courses journalières</span>
                </a>
            </li>
            <li class="mb-4">
                <a href="#">
                    <i class="fas fa-tasks text-white ml-2"></i>
                    <span class="nav-text ml-2">Rôle</span>
                </a>
            </li>
            <li class="mb-4">
                <a href="{{path('situation')}}">
                    <i class="fas fa-money-check text-white ml-2"></i>
                    <span class="nav-text ml-1"> Situation des Agents</span>
                </a>
            </li>
            {% endif %}

           {% if is_granted("ROLE_AGENT") %}
            <li class="mb-4">
                <a href="{{ path("home") }}">
                    <i class="fas fa-home text-white ml-2"></i>
                    <span class="nav-text ml-1"> Accueil</span>
                </a>
            </li>
            <li class="mb-4">
                <a href="{{path('solde')}}">
                    <i class="fas fa-landmark text-white ml-2"></i>
                    <span class="nav-text ml-2">Historique</span>
                </a>
            </li>
            <li class="mb-4">
                <a href="{{ path('depense') }}">
                    <i class="fas fa-euro-sign text-white ml-2"></i>
                    <span class="nav-text ml-1"> Dépenses</span>
                </a>
            </li>
            <li class="mb-4">
                    <a href="{{path('course')}}">
                        <i class="fas fa-walking text-white ml-2"></i>
                        <span class="nav-text ml-2">Courses</span>
                    </a>
                </li>
            {% endif %}
            <li class="mb-4">
                <a href="#">
                    <i class="fas fa-ban text-white ml-2"></i>
                    <span class="nav-text ml-2">A propos</span>
                </a>
            </li>
            
            {% if is_granted("ROLE_ADMIN") %}
            <!-- <hr class="bg-secondary"> -->
            {% endif %}
        </ul>
    </div>
    <!-- end items-->
</div>
<!-- end left-sidenav-->