{% extends 'base_front.html.twig' %}
{% block title %}Dépense{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Montants</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item">Montants</li>
                            <li class="breadcrumb-item active">dépense</li>
                        </ol>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
        </div>
    </div>
    {% for label,messages in app.flashes %}
	{% for message in messages %}
        <div class="container">
            <div class="d-flex align-items-center justify-content-end">
                <div>
                    <div class="alert bg-{{ label }} text-white rounded-0">
                        {{ message }}
                    </div>
                </div>
            </div>
        </div>
	{% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
            <div class="row">
                <div class="col">{{ form_row(form.motifs) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.monDep) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.preuve) }}</div>
            </div>

            <div class="flex float-right">
                <button class="btn btn-success">Valider</button>
                <a href="{{path('depense')}}" class="btn btn-warning rounded-0">
                    Annuler
                </a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
    {% endblock %}